@font-face {
    font-family: proximaNova;
    src: url(../fonts/Proxima-Nova-Thin.otf);
  }


/* @font-face {
    font-family: proximaNova;

    src: url(../fonts/Proxima-Nova-Thin.otf) format('truetype') font-weight-normal,
         url(../fonts/Proxima-Nova-Regular.otf) format('truetype') font-weight-bold
  } */

body{
    background: #f7f4e9;
    padding-bottom: 100px;
}

.img-thumbnail{
    width: 150px;
}

.img-thumbnail img {

    object-position: center; /* Center the image within the element */
    max-height: 100%;
    max-width: 100%;
  }

.jumbotron{
    background-color: transparent;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.row{
    padding-top: 32px;
}
p { margin:0 }

b{
    font-weight: 600;
}
p,li{
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 100;
}

h1{
    font-family: 'PT Mono', monospace;
    font-size: 120px;
    font-weight: 400;
    text-transform: uppercase;
    color: #cabbf3;
}

ul{
    list-style: none;
    padding-left: 0px;
}

h3 {

    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 18px;
 
}


h2, h3, h4{
    font-family: 'PT Serif', serif;
}

h4{
    
}

.row{
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.publication{
    text-transform: none;
    padding-bottom: 10px
}

.author{
    font-weight:bold;
}
@media only screen and (max-width: 1000px){
    h1  {
            font-size: 80px;
        }
    .hide-on-small{
        display: none;
    }
    #name{
      padding-left: 0px; 
    }

}

.image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 110%;
}
