<div id="footer">
  <div class="panel-footer">
    <div class="container-fluid">
      <div>
        We are part of the
        <a href="https://www.cs.washington.edu/"
          >Paul G. Allen School of Computer Science & Engineering</a
        >
        at the
        <a href="https://www.washington.edu/">University of Washington</a>.
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
